
<!--<p><%= @fileavbl %></p>
<p><%= @splitted %></p>
<p><%= @txtcount %></p>
<p><%= @final_split %></p>
<p><%= @first_splt_result %></p>
<p><%= @count %></p>
<p><%= @endoffile %></p>
<p><%= @i %></p>-->

<p><h1>welcome</h1></p>
